In [1]:
###
# Atanas Delevski
# ECE 407 Project
# Breast Cancer PCA
###

import numpy as np
import pandas as pd

########## Reading in Data ###################
data = pd.read_csv('breast-cancer.csv')
df = pd.DataFrame(data)

In [2]:
data_class = df['Class']                   # saving class column
deg_malig = df['deg-malig']                # temporarily removing deg_malig so that normalizing the 'range' columns is easier
df = df.drop(columns=['Class', 'menopause', 
                      'breast', 'breast-quad', 
                      'irradiat', 'node-caps',
                      'deg-malig'])        # dropping un-needed columns.

In [3]:
df.head()

     Age tumor-size inv-nodes
0  30-39      30-34       0-2
1  40-49      20-24       0-2
2  40-49      20-24       0-2
3  60-69      15-19       0-2
4  40-49        0-4       0-2

In [4]:
ave_val = lambda val_range : (val_range[0] + val_range[1])/2
def normalize_column(dataframe, column="", new_column=""): # this is my function to turn the df's values from string ranges
    mylist = []                                            # to float values which are needed for PCA algorithm
    for val_range in dataframe[column]:
        val_range_str = val_range.split('-')
        val_range_int = [int(val_range_str[0]), int(val_range_str[1])]
        mylist.append(ave_val(val_range_int))
    dataframe[new_column] = mylist
#     if del_old:
#         del dataframe[column]
    return dataframe

In [5]:
normalize_column(df, 'Age', 'Age')             # here I am appending the new, 'float' columns as new columns
normalize_column(df, 'tumor-size', 'Size')     
normalize_column(df, 'inv-nodes', 'Nodes')    
del df['tumor-size']                           # and deleting the old, 'string' columns
del df['inv-nodes']

In [6]:
df

      Age  Size  Nodes
0    34.5  32.0    1.0
1    44.5  22.0    1.0
2    44.5  22.0    1.0
3    64.5  17.0    1.0
4    44.5   2.0    1.0
..    ...   ...    ...
281  34.5  32.0    1.0
282  34.5  22.0    1.0
283  64.5  22.0    1.0
284  44.5  32.0    4.0
285  54.5  32.0    4.0

[286 rows x 3 columns]

In [7]:
df['deg-malig'] = deg_malig

In [8]:
df

      Age  Size  Nodes  deg-malig
0    34.5  32.0    1.0          3
1    44.5  22.0    1.0          2
2    44.5  22.0    1.0          2
3    64.5  17.0    1.0          2
4    44.5   2.0    1.0          2
..    ...   ...    ...        ...
281  34.5  32.0    1.0          2
282  34.5  22.0    1.0          3
283  64.5  22.0    1.0          1
284  44.5  32.0    4.0          3
285  54.5  32.0    4.0          3

[286 rows x 4 columns]

In [9]:
df.to_csv('clean_data.csv')